<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1866461210-qlkfrt97kkfuljq4rujj78n7t9pueugu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1866461210-qlkfrt97kkfuljq4rujj78n7t9pueugu</string>
	<key>API_KEY</key>
	<string>AIzaSyDWeKuHyEYkMPBNQwGDCaTEP-a6XbpWVkU</string>
	<key>GCM_SENDER_ID</key>
	<string>1866461210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.semcodar.tutorialffyt</string>
	<key>PROJECT_ID</key>
	<string>semcodar-tutorialff-wini</string>
	<key>STORAGE_BUCKET</key>
	<string>semcodar-tutorialff-wini.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1866461210:ios:5676afeddc69aeff5aa1a3</string>
</dict>
</plist>